<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<h1>Welcome to our service</h1>

<form method = "post">
  <input type="radio" id="person" name="querymethod" value="person">
  <label for="person">Person Search</label><br>

  <input type="radio" id="movie" name="querymethod" value="movie">
  <label for="movie">Movie Search</label><br>

  <input type="radio" id="popular movie" name="querymethod" value="popular movie">
  <label for="popular movie">Popular Movie Search</label><br>

  <input type="radio" id="popular TV" name="querymethod" value="popular TV">
  <label for="popular TV">Popular TVShow Search</label><br>

  <input type="radio" id="TV show" name="querymethod" value="TV show">
  <label for="TV show">TVShow Search</label><br>

  <input type="radio" id="company" name="querymethod" value="company">
  <label for="company">Company Search</label><br>

  <input type="radio" id="keyword" name="querymethod" value="keyword">
  <label for="keyword">Keyword Search</label><br>

  <input type="text" name="query" placeholder="Your Query!"><br>
  <input type="submit">


</form>

</body>
</html>