<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
          integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <title>Popular Movies</title>
</head>
<body>

 <div class="container">
        <div class="card">
            <div class="card-header">Movie</div>
            <div class="card-body">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">OverView</th>
                        <th scope="col">Original Language</th>
                        <th scope="col">Vote Average</th>
                        <th scope="col">Media Type</th>
                        <th scope="col">Release Date</th>
                        <th scope="col">Image</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range .}}
                            <tr>
                                <td>{{.ID}}</td>
                                <td>{{.Title}}</td>
                                <td>{{.Overview}}</td>
                                <td>{{.OriginalLanguage}}</td>
                                <td>{{.VoteAverage}}</td>
                                <td>{{.MediaType}}</td>
                                <td>{{.ReleaseDate}}</td>
                                <td>
                                 <img src={{.PosterPath}} alt={{.Title}} style="width:100px;height:120px;">
                                </td>
                            </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</body>
</html>