<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
          integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <title>Popular Movies</title>
</head>
<body>

<h1>The Actor/Actress you want</h1>
 <div class="container">
        <div class="card">
            <div class="card-header">Movie</div>
            <div class="card-body">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Popularity</th>
                        <th scope="col">Known For Department</th>
                        <th scope="col">Known For</th>
                        <th scope="col">Image</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range .}}
                            <tr>
                                <td>{{.ID}}</td>
                                <td>{{.Name}}</td>
                                <td>{{.Popularity}}</td>
                                <td>{{.KnownForDepartment}}</td>
                                <td>
                                <a href="/search/person/knownfor">To his/her Best works</a>
                                </td>
                                <td>
                                 <img src={{.ProfilePath}} alt={{.Name}} style="width:100px;height:120px;">
                                </td>
                            </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</body>
</html>